@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 100%;
}

h1 {
  color: #004E9E;
}

a {
  color: #004E9E;
}

#contact {
  font-size: 1.25em;
}

#contact li {
  margin: 0.5em 0;
}
